<pre> 
-----BEGIN PGP SIGNED MESSAGE-----
Hash: SHA512

Email: bradley@gray-mail.ca
-----BEGIN PGP SIGNATURE-----

iQJJBAEBCgAzFiEES1Z68tLpcDgJHvWk5vj3sGNpOCQFAmnnGwQVHGJyYWRsZXlA
Z3JheS1tYWlsLmNhAAoJEOb497BjaTgkSW0P/jntXThK4Q1+gjdm+wBSJxCO3eTZ
I9G0xvTGDIDNLtHTfs2aH8F+hVuO5sMx+AF97yyMz/JX0OyDOU8s4irTwwGdXMGD
nleK2oFxsjDEHsMoj3Dyo4iczAuuCIR8jFd/6r49KWG6dEv7aBtdrs0lLop1mkei
WRYSbEATYQuNpBr1si8LsyFW1Y7srUFdoToOVAJyYWXuUJVXj4dE/bNk+lJC6zea
zlyGG7UwdjFahNACLvKSE0vnIS0WNneKiniMEby2BLImgXeU3dvAo7RQy7GCa9ah
yJ68DjamDvUvL57NzAeSaGwLb4rYt/krcAbNQ0805kY85wrZ33NPeL5pvDiqFvFY
lnv1343TWQGW2gTkJTNfQvc/I9odAnGHY6N4wgUCwxMtlMme3COLVaXeuDWGMjeN
QPdxUy8JoTp2JGt0L+cUJcVO4Hq46ZO6fkvKyUPvNyy7sZugdshplExPHCR+oWzR
EjLrJnCLAfE9RluWWX6Mj3pKXyA7lT3WMFt3y0Ln8Jx+TNOO1n0JheYEGLICGDPJ
An633eoxnFhzhTRKfNVPHM1oZexqMZYusZhajmKtJMTHo5hJJTNqjtdeTCmj6ydB
nIgcPHuZwd/RWJ7UDyppNkDU4wNoxJrVu7qpsiad7V6wcSOvFzSfVO79C1BPpuOz
smOWbulpnMxAj1ee
=5zfa
-----END PGP SIGNATURE-----
</pre>
